<div>
    <h3>{{title}}</h3>
    <div>
        <p>When there is a story, the image and link are shown</p>
        <div>
            Story:<input [(ngModel)]="story">
        </div>
        <div [style.visibility]="story ? 'visible' : 'hidden'">
            <img [src]="imagePath"
                (mouseover)="log('mouseover')"
                (mousedown)="log('mousedown')"
                (mouseleave)="log('mouseleave')"
                (mouseup)="log('mouseup')"
                (click)="log('click')">
            <br/>
            <a [href]="link">{{story}}</a>
        </div>
        <div>
            <input
                (blur)="log('blur')"
                (focus)="log('focus')"
                (keydown)="log('keydown', $event)"
                (keyup)="log('keyup', $event)"
                (keypress)="log('keypress', $event)">
        </div>
    </div>
    <div>
        <div *ngFor="let vehicle of vehicles">
            {{vehicle.name}}
        </div>
    </div>
</div>
